
driftfile {{ ntp_driftfile }}

{% if ntp_statsdir %}
statsdir {{ ntp_statsdir }}
{% endif %}

{% for server in ntp_servers %}
server {{ server }}
{% endfor %}

{% for restrict in ntp_restrict %}
{{ restrict }}
{% endfor %}

{% if ntp_crypto %}
crypto
{% endif %}

{% if ntp_includefile %}
includefile  {{ ntp_includefile }}
{% endif %}

{% if ntp_keys %}
keys {{ ntp_keys }}
{% endif %}

{% if ntp_trustedkey %}
trustedkey {{ ntp_trustedkey }}
{% endif %}

{% if ntp_requestkey %}
requestkey  {{ ntp_requestkey }}
{% endif %}

{% if ntp_controlkey %}
controlkey {{ ntp_controlkey }}
{% endif %}

{% if ntp_statistics %}
statistics {{ ntp_statistics }}
{% endif %}

{% for filegen in ntp_filegen %}
{{ filegen }}
{% endfor %}

{% for disable in ntp_disable %}
disable {{ disable }}
{% endfor %}

{% for enable in ntp_enable %}
enable {{ enable }}
{% endfor %}

{% if ntp_broadcastclient %}
broadcastclient
{% endif %}

{% if ntp_broadcast %}
broadcast {{ ntp_broadcast }}
{% endif %}

{% if ntp_multicastclient %}
multicastclient {{ ntp_multicastclient }}
{% endif %}

{% if ntp_manycastserver %}
manycastserver {{ ntp_manycastserver }}
{% endif %}